/*--------------------------------------------------------------
This is your custom stylesheet.

Add your own styles here to make theme updates easier.
To override any styles from other stylesheets, simply copy them into here and edit away.

Make sure to respect the media queries! Otherwise you may
accidentally add desktop styles to the mobile layout.
https://www.w3schools.com/css/css_rwd_mediaqueries.asp
--------------------------------------------------------------*/

/*style the box*/
.atbdp-map-updated .gm-style .gm-style-iw,
.atbd_google_map .gm-style .gm-style-iw,
.directorist-details-info-wrap .gm-style .gm-style-iw {
  background-color: #fff !important;
  top: 0 !important;
  left: 0 !important;
  width: 250px !important;
  min-height: auto !important;
  max-height: none !important;
  padding: 0 !important;
  display: block !important;
  border-radius: 5px !important;
}
.atbdp-map-updated .gm-style .gm-style-iw .gm-style-iw-d,
.atbd_google_map .gm-style .gm-style-iw .gm-style-iw-d,
.directorist-details-info-wrap .gm-style .gm-style-iw .gm-style-iw-d {
  height: 100% !important;
  max-height: 100% !important;
  overflow-y: scroll;
  margin-right: -18px;
}
.atbdp-map-updated .gm-style .gm-style-iw .gm-style-iw-d .map-info-img,
.atbd_google_map .gm-style .gm-style-iw .gm-style-iw-d .map-info-img,
.directorist-details-info-wrap .gm-style .gm-style-iw .gm-style-iw-d .map-info-img {
  display: block !important;
  padding-right: 0;
}
.atbdp-map-updated .gm-style .gm-style-iw .gm-style-iw-d .map-info-img,
.atbd_google_map .gm-style .gm-style-iw .gm-style-iw-d .map-info-img,
.directorist-details-info-wrap .gm-style .gm-style-iw .gm-style-iw-d .map-info-img {
  text-align: center;
  margin-bottom: 10px;
}
.atbdp-map-updated .gm-style .gm-style-iw .gm-style-iw-d .map-info-img img,
.atbd_google_map .gm-style .gm-style-iw .gm-style-iw-d .map-info-img img,
.directorist-details-info-wrap .gm-style .gm-style-iw .gm-style-iw-d .map-info-img img {
  border-radius: 3px 3px 0 0;
}
.atbdp-map-updated .gm-style .gm-style-iw .gm-style-iw-d .map-info-details,
.atbd_google_map .gm-style .gm-style-iw .gm-style-iw-d .map-info-details,
.directorist-details-info-wrap .gm-style .gm-style-iw .gm-style-iw-d .map-info-details {
  padding: 0 20px;
}
.atbdp-map-updated .gm-style .gm-style-iw .gm-style-iw-d .map-info-details .atbdp-listings-title-block,
.atbd_google_map .gm-style .gm-style-iw .gm-style-iw-d .map-info-details .atbdp-listings-title-block,
.directorist-details-info-wrap .gm-style .gm-style-iw .gm-style-iw-d .map-info-details .atbdp-listings-title-block {
  margin-top: 0;
}
.atbdp-map-updated .gm-style .gm-style-iw .gm-style-iw-d .map-info-details .atbdp-listings-title-block h3,
.atbd_google_map .gm-style .gm-style-iw .gm-style-iw-d .map-info-details .atbdp-listings-title-block h3,
.directorist-details-info-wrap .gm-style .gm-style-iw .gm-style-iw-d .map-info-details .atbdp-listings-title-block h3 {
  font-size: 16px !important;
  line-height: 18px;
  font-weight: 500;
  margin-top: 15px;
}
.atbdp-map-updated .gm-style .gm-style-iw .gm-style-iw-d .map-info-details a.map-info-link,
.atbd_google_map .gm-style .gm-style-iw .gm-style-iw-d .map-info-details a.map-info-link,
.directorist-details-info-wrap .gm-style .gm-style-iw .gm-style-iw-d .map-info-details a.map-info-link {
  font-size: 15px;
  font-weight: 300;
}
.atbdp-map-updated .gm-style .gm-style-iw .gm-style-iw-d .map-info-details .map_addr,
.atbd_google_map .gm-style .gm-style-iw .gm-style-iw-d .map-info-details .map_addr,
.directorist-details-info-wrap .gm-style .gm-style-iw .gm-style-iw-d .map-info-details .map_addr {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
}
.atbdp-map-updated .gm-style .gm-style-iw .gm-style-iw-d .map-info-details .map_addr > span,
.atbd_google_map .gm-style .gm-style-iw .gm-style-iw-d .map-info-details .map_addr > span,
.directorist-details-info-wrap .gm-style .gm-style-iw .gm-style-iw-d .map-info-details .map_addr > span {
  margin-right: 4px;
}
.atbdp-map-updated .gm-style .gm-style-iw .gm-style-iw-d .map-info-details .map_get_dir,
.atbd_google_map .gm-style .gm-style-iw .gm-style-iw-d .map-info-details .map_get_dir,
.directorist-details-info-wrap .gm-style .gm-style-iw .gm-style-iw-d .map-info-details .map_get_dir {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 5px;
}
.atbdp-map-updated .gm-style .gm-style-iw .gm-style-iw-d .map-info-details .map_get_dir a,
.atbd_google_map .gm-style .gm-style-iw .gm-style-iw-d .map-info-details .map_get_dir a,
.directorist-details-info-wrap .gm-style .gm-style-iw .gm-style-iw-d .map-info-details .map_get_dir a {
  font-size: 13px !important;
  font-weight: 500;
  color: #444752 !important;
}
.atbdp-map-updated .gm-style .gm-style-iw .gm-style-iw-d .map-info-details .map_get_dir span,
.atbd_google_map .gm-style .gm-style-iw .gm-style-iw-d .map-info-details .map_get_dir span,
.directorist-details-info-wrap .gm-style .gm-style-iw .gm-style-iw-d .map-info-details .map_get_dir span {
  font-size: 13px !important;
  margin-left: 5px;
}
.atbdp-map-updated .gm-style .gm-style-iw .gm-style-iw-d img,
.atbd_google_map .gm-style .gm-style-iw .gm-style-iw-d img,
.directorist-details-info-wrap .gm-style .gm-style-iw .gm-style-iw-d img {
  width: 100%;
  max-height: none;
}
.atbdp-map-updated .gm-style .gm-style-iw .gm-style-iw-d .miw-contents,
.atbd_google_map .gm-style .gm-style-iw .gm-style-iw-d .miw-contents,
.directorist-details-info-wrap .gm-style .gm-style-iw .gm-style-iw-d .miw-contents {
  padding: 10px 10px 10px 0;
}
.atbdp-map-updated .gm-style .gm-style-iw .gm-style-iw-d .miw-contents h3,
.atbd_google_map .gm-style .gm-style-iw .gm-style-iw-d .miw-contents h3,
.directorist-details-info-wrap .gm-style .gm-style-iw .gm-style-iw-d .miw-contents h3 {
  font-size: 15px !important;
  line-height: 18px !important;
  font-weight: 500 !important;
}
.atbdp-map-updated .gm-style .gm-style-iw .gm-style-iw-d .miw-contents address,
.atbd_google_map .gm-style .gm-style-iw .gm-style-iw-d .miw-contents address,
.directorist-details-info-wrap .gm-style .gm-style-iw .gm-style-iw-d .miw-contents address {
  margin-bottom: 7px !important;
}
.atbdp-map-updated .gm-style .gm-style-iw .gm-style-iw-d .miw-contents .miwl-rating,
.atbd_google_map .gm-style .gm-style-iw .gm-style-iw-d .miw-contents .miwl-rating,
.directorist-details-info-wrap .gm-style .gm-style-iw .gm-style-iw-d .miw-contents .miwl-rating {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.atbdp-map-updated .gm-style .gm-style-iw .gm-style-iw-d .miw-contents .miwl-rating .atbd_meta,
.atbd_google_map .gm-style .gm-style-iw .gm-style-iw-d .miw-contents .miwl-rating .atbd_meta,
.directorist-details-info-wrap .gm-style .gm-style-iw .gm-style-iw-d .miw-contents .miwl-rating .atbd_meta {
  margin-right: 5px;
  background: #444752;
  color: #fff;
  padding: 3px 7px;
  border-radius: 3px;
}
.atbdp-map-updated .gm-style .gm-style-iw .gm-style-iw-d .miw-contents .miwl-rating .atbd_meta i,
.atbd_google_map .gm-style .gm-style-iw .gm-style-iw-d .miw-contents .miwl-rating .atbd_meta i,
.directorist-details-info-wrap .gm-style .gm-style-iw .gm-style-iw-d .miw-contents .miwl-rating .atbd_meta i {
  margin-left: 3px;
}
.atbdp-map-updated .gm-style .gm-style-iw .gm-style-iw-d .miw-contents .miw-contents-footer,
.atbd_google_map .gm-style .gm-style-iw .gm-style-iw-d .miw-contents .miw-contents-footer,
.directorist-details-info-wrap .gm-style .gm-style-iw .gm-style-iw-d .miw-contents .miw-contents-footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.atbdp-map-updated .gm-style .gm-style-iw .gm-style-iw-d .miw-contents .miw-contents-footer a,
.atbd_google_map .gm-style .gm-style-iw .gm-style-iw-d .miw-contents .miw-contents-footer a,
.directorist-details-info-wrap .gm-style .gm-style-iw .gm-style-iw-d .miw-contents .miw-contents-footer a {
  font-size: 14px !important;
  font-weight: 500;
}
.atbdp-map-updated .gm-style .gm-style-iw button.gm-ui-hover-effect,
.atbd_google_map .gm-style .gm-style-iw button.gm-ui-hover-effect,
.directorist-details-info-wrap .gm-style .gm-style-iw button.gm-ui-hover-effect {
  display: none !important;
}
.atbdp-map-updated .gm-style .gm-style-iw .map-info-wrapper--show,
.atbd_google_map .gm-style .gm-style-iw .map-info-wrapper--show,
.directorist-details-info-wrap .gm-style .gm-style-iw .map-info-wrapper--show {
  display: block !important;
}
.atbdp-map-updated .gm-style .gm-style-iw .map-info-wrapper .iw-close-btn,
.atbd_google_map .gm-style .gm-style-iw .map-info-wrapper .iw-close-btn,
.directorist-details-info-wrap .gm-style .gm-style-iw .map-info-wrapper .iw-close-btn {
  position: absolute;
  width: 25px;
  height: 25px;
  background: rgba(68, 71, 82, 0.5);
  border-radius: 50%;
  color: #fff;
  right: 10px;
  top: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 13px;
  cursor: pointer;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.atbdp-map-updated .gm-style .gm-style-iw .map-info-wrapper .iw-close-btn:hover,
.atbd_google_map .gm-style .gm-style-iw .map-info-wrapper .iw-close-btn:hover,
.directorist-details-info-wrap .gm-style .gm-style-iw .map-info-wrapper .iw-close-btn:hover {
  background: #444752;
}